python of any version of python2 or python3 is required
pycoingecko of latest version is required
if you do not have pycoingecko, use pip install coingecko to dowload it or visit their official github page here https://github.com/man-c/pycoingecko